<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>竞赛报名系统</title>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="../js/axios.js"></script>
    <link rel="stylesheet" href="../css/index.css" >
    <script src="../js/vue.min.js"></script>
    <script src="../layui/layui.all.js"></script>
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layui-layout-body">
<div id="competitionRelease">
    <div class="header layui-header">
        <div class="layui-logo">竞赛报名系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left header-down-nav" lay-filter="bigData">
            <li class="layui-nav-item"><a href="../index.html">主页</a></li>
            <li class="layui-nav-item" v-if="jurisdiction==2">
                <a href="javascript:;">发布竞赛</a>
                <dl class="layui-nav-child">
                    <dd><a href="CompetitionRelease.html" >发布竞赛</a></dd>
                    <dd><a href="myPostCompetition.html" >我的发布</a></dd>

                </dl>
            </li>
            <li class="layui-nav-item" v-if="jurisdiction==2"><a href="RegistrationManagement.html" >报名管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right"  lay-filter="filter1" v-cloak>
            <li class="layui-nav-item"><a href="myRegistration.html">我的报名</a></li>
            <li class="layui-nav-item"><a href="myTeam.html">我的团队</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;" >
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img" >
                    {{userName}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../index/indexUserInfo.html" >基本资料</a></dd>
                    <dd><a href="../index/indexUserAuthentication.html" >认证信息</a></dd>
                    <dd><a href="../index/indexRegisterUpdate.html"  >修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" @click="Logout">退出</a></li>
        </ul>
    </div>
    <div class="containerAuthenticationUpdate "  v-cloak>
        <form class="layui-form" @submit.prevent="CompetitionReleaseInsert">

            <div class="layui-form-item">
                <h1 class="layui-text ">发布竞赛</h1>
            </div>

            <div class="layui-form-item layui-form-item-rz" style="margin-top: 50px;">
                <label class="layui-form-label">发布账号</label>
                <div class="layui-input-block layui-icon ">

                    <input type="text" name="userId" required disabled  lay-verify="required" v-model="userId"  autocomplete="off" class="layui-input layui-disabled">
                </div>
            </div>
            <div class="layui-form-item layui-form-item-rz">
                <label class="layui-form-label">竞赛标题</label>
                <div class="layui-input-block layui-icon ">
                    <input type="text" name="competitionName" required lay-verify="required" placeholder="请输入竞赛标题" v-model="competitionName"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-item-rz">
                <label class="layui-form-label">竞赛信息</label>
                <div class="layui-input-block">
                    <textarea name="competitionInfo" required lay-verify="required" placeholder="请输入" v-model="competitionInfo" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-item-rz">
                <label class="layui-form-label">报名审核</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="checkUser" lay-skin="switch" lay-text="是|否" lay-filter="checkbox1">
                </div>
            </div>
            <div class="layui-form-item layui-form-item-rz">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" value="0" title="个人赛" checked lay-filter="radio1">
                    <input type="radio" name="type" value="1" title="团队赛" lay-filter="radio1" >
                </div>
            </div>
            <div class="layui-form-item layui-form-item-rz">
                <label class="layui-form-label">比赛时间</label>
                <div class="layui-input-block layui-icon ">
                    <input type="text" id="competitionTime" name="competitionTime" style="width: 400px;" required lay-verify="required" placeholder="请选择比赛时间" v-model="competitionTime"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-item-rz">
                <label class="layui-form-label">报名时间</label>
                <div class="layui-input-block">
                    <input type="text" id="registrationTime" name="registrationTime" style="width: 400px;" required lay-verify="required" placeholder="请选择报名时间" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="  layui-form-item layui-form-item-info">
                <h5 class="layui-text " v-text="loginMsg"></h5>
            </div>
            <div class="layui-form-item layui-form-item-info">
                <div class="layui-input-block">
                    <button class="layui-btn layui-anim layui-anim-scale layui-btn-user"  lay-submit lay-filter="formDemo" >创建</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script  type="module" src="../views/index/CompetitionRelease.js"></script>

</body>
</html>
