<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>竞赛报名系统</title>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="../js/axios.js"></script>
    <link rel="stylesheet" href="../css/index.css" >
    <script src="../js/vue.min.js"></script>
    <script src="../layui/layui.all.js"></script>
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body class="layui-layout-body">
<div id="createTeam" v-cloak>
    <div class="header layui-header">
        <div class="layui-logo">竞赛报名系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left header-down-nav" lay-filter="bigData">
            <li class="layui-nav-item"><a href="../index.html">主页</a></li>
            <li class="layui-nav-item" v-if="jurisdiction==2">
                <a href="javascript:;">发布竞赛</a>
                <dl class="layui-nav-child">
                    <dd><a href="CompetitionRelease.html" >发布竞赛</a></dd>
                    <dd><a href="myPostCompetition.html" >我的发布</a></dd>

                </dl>
            </li>
            <li class="layui-nav-item" v-if="jurisdiction==2"><a href="RegistrationManagement.html" >报名管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right"  lay-filter="filter1" v-cloak>
            <li class="layui-nav-item"><a href="myRegistration.html">我的报名</a></li>
            <li class="layui-nav-item">
                <a href="myTeam.html">团队</a>
                <dl class="layui-nav-child">
                    <dd><a href="createTeam.html" >创建团队</a></dd>
                    <dd><a href="myTeam.html" >我的团队</a></dd>

                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" >
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img" >
                    {{userName}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../index/indexUserInfo.html" >基本资料</a></dd>
                    <dd><a href="../index/indexUserAuthentication.html" >认证信息</a></dd>
                    <dd><a href="../index/indexRegisterUpdate.html"  >修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" @click="Logout">退出</a></li>
        </ul>
    </div>
    <div class="containerUser " v-cloak>
        <form class="layui-form" @submit.prevent="createTeamClick">

            <div class="layui-form-item">
                <h1 class="layui-text ">创建团队</h1>
            </div>

            <div class="layui-form-item layui-form-item-info" v-cloak style="margin-top: 100px;">
                <label class="layui-form-label">创建人账号</label>
                <div class="layui-input-block layui-icon ">

                    <input type="text" name="userId" required disabled  lay-verify="required" v-model="userId"  autocomplete="off" class="layui-input layui-disabled">
                </div>
            </div>
            <div class="layui-form-item layui-form-item-info">
                <label class="layui-form-label">团队名</label>
                <div class="layui-input-block layui-icon ">
                    <input type="text" name="username" required  lay-verify="required" v-model="teamName"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-item-info">
                <label class="layui-form-label">邀请成员</label>
                <div class="layui-input-block">
                    <input type="text" name="tel"  v-model="inviteMembers" placeholder="请输入成员id" autocomplete="off" class="layui-input" style="width: 200px;">
                    <a class="layui-btn layui-btn-xs" @click="inviteMember" style=" position: absolute;margin-left:210px;margin-top: -35px;">邀请</a>
                </div>
            </div>
            <div class="  layui-form-item layui-form-item-info">
                <label class="layui-form-label">已邀请：</label>
                <h4 class="layui-text " v-text="Invited"></h4>
            </div>
            <div class="  layui-form-item layui-form-item-info">
                <h5 class="layui-text " v-text="loginMsg"></h5>
            </div>
            <div class="layui-form-item layui-form-item-info">
                <div class="layui-input-block">
                    <button class="layui-btn layui-anim layui-anim-scale layui-btn-user"  lay-submit lay-filter="formDemo" >创建团队</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script  type="module"src="../views/index/createTeam.js"></script>


</body>
</html>
