<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/index.css" >
    <script src="../js/axios.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../layui/layui.all.js"></script>

</head>
<body class="layui-layout-body" v-cloak>
<div id="userInfo" v-cloak>
    <div class="containerUser "  v-cloak>
        <form class="layui-form" @submit.prevent="updateUserInfo">

            <div class="layui-form-item">
                <h1 class="layui-text ">个人信息</h1>
            </div>

            <div class="layui-form-item layui-form-item-info" v-cloak style="margin-top: 100px;">
                <label class="layui-form-label">账 &nbsp;&nbsp;号</label>
                <div class="layui-input-block layui-icon ">

                    <input type="text" name="userId" required disabled  lay-verify="required" v-model="userId"  autocomplete="off" class="layui-input layui-disabled">
                </div>
            </div>
            <div class="layui-form-item layui-form-item-info">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block layui-icon ">
                    <input type="text" name="username" required  lay-verify="required" v-model="userName"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-item-info">
                <label class="layui-form-label">邮 &nbsp;&nbsp;箱</label>
                <div class="layui-input-block">
                    <input type="text"  name="email" required  lay-verify="email" v-model="userEmail"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-item-info">
                <label class="layui-form-label">手 &nbsp;&nbsp;机</label>
                <div class="layui-input-block">
                    <input type="text" name="tel" required  lay-verify="phone" v-model="userTel"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="  layui-form-item layui-form-item-info">
                <h5 class="layui-text " v-text="loginMsg"></h5>
            </div>
            <div class="layui-form-item layui-form-item-info">
                <div class="layui-input-block">
                    <button class="layui-btn layui-anim layui-anim-scale layui-btn-user"  lay-submit lay-filter="formDemo" >修改</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script  type="module"src="../views/admin/userInfo.js"></script>


</body>
</html>
